<div ng-init="init()">
    <div class="card">
        <div class="card-body">
            <p class="card-text"><strong>First Name: </strong>{{contact.firstName}}</p>
            <p class="card-text"><strong>Last Name: </strong>{{contact.lastName}}</p>
            <p class="card-text"><strong>Phone Number: </strong>{{contact.phoneNumber}}</p>
            <p class="card-text"><strong>Cell Phone Number: </strong>{{contact.cellPhoneNumber}}</p>
            <p class="card-text"><strong>Address: </strong>{{contact.address}}</p>
        </div>
    </div>
</div>
